* {
   box-sizing: border-box;
   padding: 0;
   margin: 0
 }


 body{
   background: rgba(68, 109, 14, 0.06);
   font-family: 'Montserrat', sans-serif;
   margin: 0;
 }
 /*NavBar Menu*/
 #header{
    background-color: #6CAB52;
    height: 80px;
    min-width: 100%;
 }
 .logoImg{
    width: 200px;
    height: 80px;
    margin: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
 }

 .navbar{
   display: flex;
   align-items: center;
   color: #fff;
   padding-right: 0;
   font-family: 'Montserrat', sans-serif;
  }

 .nav-menu{
   display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 15px;
 }
 .nav-link{
   text-decoration: none;
   color: #262626;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
 }
 .nav-link:hover{
   color: #F9BE50;
 }
 .nav-item{
    list-style: none;
 }
 .hamburger{
    display: none;
    margin-right: 15px;
 }
 .bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   background-color: #FFF;
 }
 .arrow{
   position: fixed;
   right: 30px;
   top: 92%;
   z-index: 99;
}
.whatsapp{
   position: fixed;
   right: 18px;
   top: 87%;
   z-index: 99;
   color: red;
   cursor: pointer;
   border-radius: 50%;
   padding: 5px 12px 12px 12px;
	box-shadow: 0 0 0 rgba(86, 175, 34, 0.4);
	animation: pulse 2s infinite;
}
.whatsappLogo{
   width: 40px;
   height: 40px;
}
/*
.whatsapp:hover {
	animation: none;
}*/

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(114, 228, 21, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(112, 218, 50, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(141, 231, 23, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(121, 218, 32, 0.4);
		box-shadow: 0 0 0 0 rgba(120, 212, 34, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(135, 190, 32, 0);
		box-shadow: 0 0 0 10px rgba(116, 204, 44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(148, 204, 44, 0);
		box-shadow: 0 0 0 0 rgba(135, 204, 44, 0);
	}
}
	

/*Main Page and Promotion Page*/

 #mainPage{
   display: flex;
   margin: 0;
   background-image: url(images/main_overlay.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   height: 90vh;
   min-height: 650px;
   min-width: 100%;
 }

 #promotion{
   display: flex;
   margin: 0;
    background-image: url(images/truck_image_overlay.jpg);
    background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 90vh;
     min-height: 650px;
     min-width: 100%;
 }

 
.phonesMain{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.mainPageNumber{
color: #262626;
text-shadow: -1px -1px 1px #F9BE50;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
margin: 10px; 
font-size: 20px;
cursor: pointer;
}

 .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   z-index: 2;
 }

h1{
color: #fff;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 85px;
letter-spacing: 0.335;
padding-bottom: 15px;
}
h3{
   color: #fff; 
   font-family: 'Montserrat', sans-serif;
   font-size: 38px;
   width: 700px;
   text-align: center;
}

.buttonWA{
position: absolute;
top: 450px;
margin-top: 50px;
text-decoration: none;
background-color: #F9BE50;
color: #fff;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
padding: 20px;
border-radius: 30px;
transition: background 2s, color 2s;
}
.buttonWA:hover{
   background-color: #6CAB52;
   color: #fff; 
}

.button{
   margin-top: 50px;
   text-decoration: none;
   background-color: #F9BE50;
   color: #fff;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   padding: 20px;
   border-radius: 30px;
   transition: background 2s, color 2s;
   }
   .button:hover{
      background-color: #6CAB52;
      color: #fff; 
   }
/*Containers sections style*/
.aboutUs_container, .serviceContainer,.processContainer, .deliveryContainer, .linksContainer, .buyContainer{
   margin: 40px;
   text-align: center;
   padding: 40px;
   padding-bottom: 40px;
  }

  .aboutUs_container, .contactsContainer, .buyContainer{
   background-color: #FFF;
   margin: 80px;
      }  

/*About Us*/

.aboutDescription{
   padding: 20px;
   margin-bottom: 20px;
 }

h2{
   font-family: 'Montserrat', sans-serif;
   font-size: 38px;
   font-weight: 600;
   margin-bottom: 60px;
   text-align: center;
   text-shadow: -1px -1px 1px #F9BE50;
}
.aboutPar{
   margin: 20px;
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   }

/*Services Cards*/

.cardSection{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   padding: 0px 40px 20px;
}
.card{
   border: 1px solid #F9BE50;
   box-shadow: rgba(187, 145, 6, 0.38) 0px 3px 8px;
   width: 300px;
   margin: 20px;
}
.card-text{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 600;
   margin: 15px;
   color: 262626;
   line-height: 50px;
}

/*Delivery Information Container*/
.deliveryContainer{
   margin-bottom: 0px;
   padding: 0px;
}
.localDeliveryService{
   display: flex;
   flex-direction: row;
   margin: 0 40px;
   justify-content: space-between;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
}
.textDelivery{
   width: 100%;
   margin: 0;
}
.deliverySectionText{
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   line-height: 42px;
   }
.mapSection{
   padding-right: 0px;
   padding-left: 0px;
}
.map{
   width: 550px;
   padding: 40px;
}

/*Process of work Container*/
.processCards{
   margin: 40px;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   }

.card-img{
   height: 550px;
   box-shadow: rgba(187, 145, 6, 0.38) 2px 5px 15px;
}
.card-img-overlay{
   background: linear-gradient(0deg, rgba(68, 109, 14, 0.68), rgba(68, 109, 14, 0.68));
}
.card-title{
   margin: 60px;
   background-color: #FFF;
   color: #262626;
   width: 65px;
   border-radius: 50px;
}
h5{
   font-family: 'Montserrat', sans-serif;
   font-size: 28px;
   font-weight: 600;
   color: #262626;
   text-align: center;
   padding: 10px;
   padding-top: 15px;
}
.terms{
   padding: 25px;
 }
 h4{
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-size: 26px;
   font-weight: 600;
   margin: 10px;
   margin-bottom: 15px;
   
 }
 .serviceText{
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   margin: auto;
   margin-top: 20px;
   font-size: 20px;
   font-weight: 500;
   color: #262626;
   list-style: circle inside ;
}

/*Buy Container*/
.buyPar{
   margin: 15px 40px;
   font-size: 20px;
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   line-height: 42px;
}
.buyA{
   font-family: 'Montserrat', sans-serif;
   color:rgba(138, 214, 67, 0.9);
   font-weight: 500;
}

/*Links*/

.linksContainer
.linksDivContainer{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}
.linkButton{
   width: 200px;
}
.linkButton:hover{
   width: 220px;
   box-shadow: rgba(187, 145, 6, 0.38) 2px 5px 15px;
   padding: 15px;
}

/*Contact Us Contaoiner*/
.contactsContainer{
   padding: 40px;
   font-family: 'Montserrat', sans-serif;
}
.input-group-text{
   background-color: #F9BE50;
}
.span{
   text-decoration: none;
   color: #262626;
   font-weight: 600;
   text-shadow: -1px -1px 1px #F9BE50;
}

/*Footer*/
.container-fluid{
   margin: 0;
}
.footerContainer{
   background-color: #6CAB52;
   padding-top: 40px;
   font-family: 'Montserrat', sans-serif;
   text-align: center;
   margin-bottom: 0;
   padding-bottom: 50px;
   margin: 0;
}

.logoImgFoot{
    width: 270px;
    height: 140px;
    position: relative;
    bottom: 40px;
   }
.footer-menu, .contactsFooter, .addressContainer{
  padding-top: 25px;
   padding-left: 0px;
   
   margin: 0;
  }
.footer-link{
   text-decoration: none;
   color: #262626;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   font-size: 16px;
   padding-bottom: 20px;
   }
.footer-link:hover{
   color: #F9BE50;
 }
 .footer-item{
    list-style: none;
    margin-top: 0;
    margin-bottom: 5px; 
    
 }
a{
   text-decoration: none;
}
h6{
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   margin-bottom: 10px;
}

.mapGoogle{
   width: 200px;
   height: 200px;
}
.instaLogo{
   padding: 10px;
   padding-left: 0;
}
.phoneNumber{
   margin: 10px;
   margin-left: 0;
   font-size: 16px;
   font-weight: 500;
   font-family: 'Montserrat', sans-serif;
   text-decoration: none;
   color: #262626;
  /* width: auto;*/
   
}
.phoneNumber:hover{
  color: #F9BE50;
}



